{% extends "chat/base.html" %}

{% block title%}
<title>Chat App</title>
{% endblock title %}

{% block content %}

<body>
    <h1>Hello! Nice to see you!</h1>

    <h3>As an AI language model, I work by processing large amounts of data and learning to recognize patterns and
        relationships between words and concepts. When a user inputs a question or prompt, I analyze the sentence
        structure, identify keywords, and use algorithmic rules to generate an appropriate response. My responses are
        based on the data I have been trained on and the context of the user's input. I can provide information on a
        wide range of topics, perform language translation, and even generate original content like poems and stories.
        Overall, my functionality is based on advanced machine learning and natural language processing techniques,
        which allow me to understand and respond to human language with increasing accuracy and complexity. </h3>
</body>
{% endblock content %}